 #load-hide{
     display: none;
   }
.preloader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
}
.preloader:before, .preloader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}
.preloader:before {
  animation: before 2s infinite;
}
.preloader:after {
  animation: after 2s infinite;
}

@keyframes before {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(252, 3, 98, 0.75), -1em 0.5em rgba(2, 233, 241, 0.75);
  }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(252, 3, 98, 0.75), 0 0.5em rgba(2, 233, 241, 0.75);
  }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(252, 3, 98, 0.75), 1em 0.5em rgba(2, 233, 241, 0.75);
  }
  100% {
    box-shadow: 1em -0.5em rgba(252, 3, 98, 0.75), -1em 0.5em rgba(2, 233, 241, 0.75);
  }
}
@keyframes after {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(3, 82, 252, 0.75), -0.5em -1em rgba(241, 55, 201, 0.75);
  }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(3, 82, 252, 0.75), -0.5em 0 rgba(241, 55, 201, 0.75);
  }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(3, 82, 252, 0.75), -0.5em 1em rgba(241, 55, 201, 0.75);
  }
  100% {
    box-shadow: 0.5em 1em rgba(3, 82, 252, 0.75), -0.5em -1em rgba(241, 55, 201, 0.75);
  }
}

html,
body {
  height: 100%;
  background-color: rgb(241, 214, 241);
}
.scroll-behave{
overflow-y: scroll;
height:100vh;
scroll-snap-type:  y mandatory;
}
#btn-back-to-top {
  border-radius: 50%;
  background-color:#041136;
  color: #e7e9f0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-size: larger;
  display: none;
  outline: none;
}
.preloader {
  position: absolute;
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em);
}
section{
  height: 100vh;
  scroll-snap-align: center;
}
#home{
  background-color: black;
}
#home2{
  background-color: #b2f008;
}
#home3{
  background-color: #fa1ac2;
}
#home4{
  background-color: #07f763;
}
#home5{
  background-color: #09f0f8;
}